
<style>
    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }
    .form-container {
        background-color: #f8f9fa;
        padding: 20px;
        border-radius: 5px;
        margin-top: 100px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
    h1 {
        text-align: center;
        margin-bottom: 20px;
    }
    .flash-message {
        color: red;
        text-align: center;
    }
    .form-container input[type="password"] {
        margin-bottom: 20px;
    }
</style>
<body>
    <div class="container">
        <div class="form-container">
            <h1>Docker Logger</h1>
            {{=form}}
            <p class="flash-message">{{=response.flash}}</p>
        </div>
    </div>
</body>
</html>