<script src="https://unpkg.com/htmx.org"></script>

<script>
    window.onload = function (){
        search_input = document.getElementById('search-input');
        search_input.addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                addSearches();
            }
        });
        fetchSearchTerms();
    }


    function filterBar(paramName, paramValue) {
        // Get the current URL
        var url = new URL(window.location.href);

        // Create a URLSearchParams object
        var params = new URLSearchParams(url.search);

        if (paramValue) {
            // Set the parameter
            params.set(paramName, paramValue);
        } else {
            // Remove the parameter
            params.delete(paramName);
        }

        // Update the URL's search parameters
        url.search = params.toString();

        // Decode the URL
        var decodedUrl = decodeURIComponent(url.toString());

        // Update the current URL without reloading the page
        window.history.pushState({path:decodedUrl},'',decodedUrl);

        // Get the base URL from the data-base-url attribute
        var baseUrl = document.getElementById('logs').dataset.baseUrl;

        // Update the hx-get and hx-poll attributes of the logs div
        var logsDiv = document.getElementById('logs');
        logsDiv.setAttribute('hx-get', baseUrl + (paramValue ? '?' + paramName + '=' + paramValue : ''));
        logsDiv.setAttribute('hx-poll', baseUrl + (paramValue ? '?' + paramName + '=' + paramValue : ''));

        // Tell htmx to process the changes
        htmx.process(logsDiv);
    }

    function addFilters(checkbox) {
        // Get all checked checkboxes
        var checkedBoxes = document.querySelectorAll('#filter-bar input[type=checkbox]:checked');

        // Construct a string of their values separated by commas
        var filters = Array.from(checkedBoxes).map(c => c.value).join(',');

        filterBar('filters', filters);
    }

    function addSearches() {
        // Get the input from the search bar
        var input = document.getElementById('search-input').value;

        // Split the input string by spaces to get the search
        var search = input.split(' ');

        filterBar('search', search.join(','));
    }

    function clearUrl() {
        // Clear the search bar
        document.getElementById('search-input').value = '';


        // Clear the checkboxes
        var checkedBoxes = document.querySelectorAll('#filter-bar input[type=checkbox]:checked');
        for (var i = 0; i < checkedBoxes.length; i++) {
            checkedBoxes[i].checked = false;
        }

        // Get the base URL from the data-base-url attribute
        var baseUrl = document.getElementById('logs').dataset.baseUrl;

        // Update the hx-get and hx-poll attributes of the logs div
        var logsDiv = document.getElementById('logs');
        logsDiv.setAttribute('hx-get', baseUrl);
        logsDiv.setAttribute('hx-poll', baseUrl);

        // Update the current URL without the search parameter
        var newUrl = window.location.protocol + "//" + window.location.host + window.location.pathname;
        window.history.pushState({path:newUrl},'',newUrl);

        // Tell htmx to process the changes
        htmx.process(logsDiv);
    }

    function openModal() {
        document.getElementById('modal').style.display = "block";
    }

    function closeModal() {
        document.getElementById('modal').style.display = "none";
    }

    function submitSearchTerm() {
        var term = document.getElementById('new-term').value;
        var name = document.getElementById('name').value;
        if (term) {
            var params = new URLSearchParams();
            params.append('term', term);
            params.append('name', name);
            window.location.href = '/init/default/add_search_term?' + params.toString();
        }
    }

    function addToSearchBar(term) {
        var searchInput = document.getElementById('search-input');
        if (searchInput.value) {
            searchInput.value += ',';
        }
        searchInput.value += term[0];
    }


    function fetchSearchTerms() {
        fetch('/init/default/get_search_terms')
            .then(response => response.json())
            .then(search_terms => {
                var searchTermsDiv = document.getElementById('search-terms');
                searchTermsDiv.innerHTML = '';  // Clear the div
                for (var i = 0; i < search_terms.length; i++) {
                    var div = document.createElement('div');
                    div.textContent = search_terms[i][1] || search_terms[i][0];
                    div.className = 'search-term';
                    div.onclick = createOnClickFunction(search_terms[i]);
                    searchTermsDiv.appendChild(div);
                }
            });
    }

    function createOnClickFunction(term) {
        return function() {
            addToSearchBar(term);
        };
    }
</script>

<div id="filter-bar">
    {{for log_filter in log_filters:}}
    <input type="checkbox" id="{{=log_filter.log_filter}}" name="{{=log_filter.log_filter}}" value="{{=log_filter.log_filter}}" onchange="addFilters(this)">
    <label for="{{=log_filter.log_filter}}">{{=log_filter.log_filter}}</label><br>
    {{pass}}
</div>

<div id="search-bar">
    <input type="text" id="search-input" placeholder="Enter comma separated values">
    <button onclick="addSearches()">Search</button>
    <button onclick="clearUrl()">Clear (URL)</button>
</div>


<div id="modal" style="display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgba(0,0,0,0.4);">
    <div style="background-color: #fefefe; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 80%;">
        <h2>Add a new search term</h2>
        <input type="text" id="new-term" placeholder="Enter new search term">
        <br>
        <input type="text" id="name" placeholder="Enter a name (default is search term)">
        <button onclick="submitSearchTerm()">Submit</button>
        <button onclick="closeModal()">Close</button>
    </div>
</div>

<div id="search-terms-container">
    <h2>Search Terms</h2>
    <p>Tip: Click on a search term to get it in the search bar</p>
    <button onclick="openModal()" style="float: right;">New</button>
    <div id="search-terms">
        <!-- Search terms will be added here -->
    </div>
</div>


<div id="logs" hx-get="/init/default/realtime_logs" hx-trigger="load" hx-poll="/init/default/realtime_logs" data-base-url="/init/default/realtime_logs"></div>