<div id="logs" hx-get="/init/default/realtime_logs" hx-trigger="load" hx-poll="1s">
    <table>
        <tr>
            <th>Docker container</th>
            {{if not collapse_timestamp:}}
                <th class="date-column">Date/Time</th>
            {{pass}}
            <th>Logline</th>
        </tr>
        {{for container,timestamp,line in logs:}}
        <tr>
            {{color=docker_colors[container]}}
            <td style="color:{{=color}};">{{=container}}</td>
            {{if not collapse_timestamp:}}
                <td class="date-column" style="color: {{=color}};">{{=timestamp}}</td>
            {{pass}}
            <td>{{=line}}</td>
        </tr>
        {{pass}}
    </table>
</div>